header {
    text-align: center;
}

body {
    background-color: rgb(246, 239, 250);
}

#Main-Header {
    font-family: 'Fira Sans', sans-serif;
    color: rgb(118, 59, 212);
    font-size: 46px;
    font-weight: 700;
}

img {
    margin-top: -30px;
    width: 200px;
}

main {
    background-color: rgb(118, 59, 212);
    margin: 50px auto 30px auto;
    width: 700px;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    padding: 40px 20px 20px 35px;
    border-radius: 15px;
}

h2 {
    font-weight: 700;
}

.indent1 {
    padding-left: 20px;
}

.bold-this {
    font-weight: bold;
}

.text-highlight {
    padding-left: 15px;
    color:rgb(255, 236, 67);
    border-left: 5px solid rgb(255, 236, 67);;
}

.special-highlight {
    background-color: rgb(253, 253, 161);
    color: rgb(118, 59, 212);
    font-weight: bold;
    padding: 4px 3px 4px 3px;
    border-radius: 4px;
}

#footer1 {
    background-color: rgb(255, 236, 67);
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

#footer1:hover {
    text-decoration: none;
    background-color: rgb(118, 59, 212);
    color: white;
}

footer {
    text-align: center;
}

footer p {
    color: rgb(118, 59, 212);
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    margin-top: 15px;
}