body {
  text-align: center;
  background-color: rgb(218, 202, 178);
  margin-top: 50px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 5px solid black;
}

h1 {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  font-weight: bolder;
}
p {
  /*Use this for whatever comes up next*/
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
}
a {
  color: rgb(175, 1, 75);
  text-decoration: currentColor;
  font-family: 'Fira Sans', sans-serif;
}
/*
    Note for pseudo class selector
    selector:pseudo-class {
      property: value;
    }
    */
a:hover {
  text-decoration: underline;
}



